@forward "../pages/auth/index";
@forward "../pages/admin/index";
@forward "../pages/account-settings";
@forward "../pages/property";
// @forward "../pages/404";
@forward "../pages/tenant-dashboard";
@forward "../pages/messages";
@forward "../pages/notifications";
