@forward "../pages/auth/index";
@forward "../pages/admin/index";
@forward "../pages/account-settings";
@forward "../pages/client-account";
@forward "../pages/property";
// @forward "../pages/404";
@forward "../pages/tenant-dashboard";
@forward "../pages/messages";
@forward "../pages/notifications";
@forward "../pages/user-management";
@forward "../pages/invite";
@forward "../pages/add-users";
@forward "../pages/profile";
@forward "../pages/new-lease";
