.loading_regular {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loading_fullscreen {
  top: 0;
  z-index: 99;
  width: 100vw;
  left: -26rem;
  position: absolute;
  /* border: 1px solid red; */
  background-color: rgba(239, 239, 239, 1);
}