@use "../abstract/variables" as *;

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse-subtle {
  0%,
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 currentColor);
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 4px currentColor);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

@keyframes bell-ring {
  0%,
  100% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 0 currentColor);
  }
  5% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(-18deg);
  }
  25% {
    transform: rotate(16deg);
  }
  35% {
    transform: rotate(-14deg);
  }
  45% {
    transform: rotate(12deg);
  }
  55% {
    transform: rotate(-10deg);
    filter: drop-shadow(0 0 0 #fff);
  }
  65% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  85% {
    transform: rotate(4deg);
  }
  95% {
    transform: rotate(-2deg);
  }
}

.bell-ring {
  color: hsla(39, 73%, 49%, 1);
  animation: bell-ring 3s ease-in-out infinite;
  transform-origin: top center; // Makes it rotate from the top like a real bell
}
