@use "../abstract/index" as *;
.insights {
  gap: 1.5rem;
  display: grid;
  margin: 2rem 0 4rem;
  grid-template-columns: repeat(4, 1fr);

  @include breakpoint(55.2rem, max) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.insight-card {
  display: flex;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  box-shadow: $box-shadow;
  transition: $transition;
  background: hslaGen($white-color);
  border-radius: $base-border-radius;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.12);
  }

  i {
    color: hslaGen($primary-color);
    font-size: 5rem;
  }

  &__content {
    flex: 1;
    text-align: center;
    span {
      color: hslaGen($grey-color);
      font-size: $fs-xsm;
    }
    .title {
      color: var(--text-muted-color);
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    .value {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2;
      display: inline-block;
      margin-bottom: 0.5rem;
      color: hslaGen($dark-grey-color);
    }

    .trend {
      display: flex;
      font-size: 0.85rem;
      align-items: center;
      justify-content: center;

      &-up {
        display: flex;
        font-size: $fs-sm;
        font-weight: 600;
        align-items: center;
        margin-right: 0.5rem;
        color: hslaGen($success-color);

        i {
          font-size: 2rem;
          margin-right: 0.2rem;
        }
      }

      &-period {
        font-size: $fs-sm;
        color: hslaGen($grey-color);
        i {
          color: hslaGen($secondary-color);
          font-size: $fs-sm;
        }
      }

      &-down {
        display: flex;
        align-items: center;
        color: var(--danger-color);
        font-weight: 600;
        margin-right: 0.5rem;

        i {
          font-size: 1rem;
          margin-right: 0.2rem;
        }
      }
    }
  }

  &::after {
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0.4rem;
    position: absolute;
    background: hslaGen($primary-color);
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
    width: 5rem;
    height: 100%;
  }
}

/* Analytics cards */
.analytics-cards {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;

  .analytics-card {
    flex: 1;
    padding: 1.5rem;
    min-width: 25rem;
    background: hslaGen($off-white-color);
    border: 1px solid hslaGen($grey-color, 0.3);

    .analytics-header {
      h4 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
  }
}
