@use "../abstract/index" as *;

.page-header {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hslaGen($grey-color, 0.2);

  &__title {
    h2 {
      font-size: 2rem;
    }
    small {
      font-size: $fs-sm;
      color: hslaGen($grey-color);
    }
  }

  &__actions {
    position: relative;
    /* padding-right: 2rem; */
  }
}

// Header actions group (for button groups in headers)
.header-actions {
  display: flex;
  gap: $space-lg;
  align-items: center;
}
.page-breadcrumb {
  margin-bottom: 1rem;
  padding: 0.5rem 0;

  .ant-breadcrumb {
    font-size: $fs-sm;
    color: hslaGen($grey-color);

    a {
      color: hslaGen($grey-color);
      transition: color 0.3s;
      &:hover {
        color: hslaGen($primary-color);
      }
    }
    .ant-breadcrumb-separator {
      margin-inline: 0.5rem;
    }
  }
}
