@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.account-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem 0;
  margin: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    background-color: hslaGen($off-white-color, 0.6);
    border-radius: 0.5rem;
    transition: $transition;
    border: 1px solid hslaGen($light-grey-color, 0.2);

    &:hover {
      background-color: hslaGen($off-white-color);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      border-left: 2px solid hslaGen($primary-color);
    }

    .ant-radio-wrapper {
      width: 100%;
      font-size: $fs-base;
      color: hslaGen($primary-color);

      span:last-child {
        font-size: $fs-base;
        font-weight: $fw-normal;
        margin-left: 0.8rem;
      }
    }

    &:has(.ant-radio-wrapper-checked) {
      background-color: hslaGen($off-white-color);
      border-left: 2px solid hslaGen($primary-color);
      font-weight: $fw-bold;
    }
  }
}
