@use "../abstract/index" as *;

.settings-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  .settings-tab {
    padding: 1.2rem 2rem;
    cursor: pointer;
    font-weight: 500;
    color: hsl(213, 14%, 56%);
    position: relative;
    white-space: nowrap;
    margin: 0 auto;
    transition: all 0.3s ease;

    &:hover:not(.active) {
      color: hsl(194, 66%, 24%);
      background-color: hsla(213, 14%, 56%, 0.05);
    }

    &.active {
      color: hsl(194, 66%, 24%);
      font-weight: 700;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 0.3rem;
        background-color: hsl(194, 66%, 24%);
      }
    }
  }
}

.tab-content {
  display: none;
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: hslaGen($white-color);

  &.active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
