@use "../abstract/index" as *;
@use "sass:math";
@use "sass:map";

// CONTAINER
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 $base-grid-h-gutter;
  max-width: clamp(100%, $base-grid-width, 100%);
}

// Base grid container
.grid-container {
  display: grid;
  min-height: 100dvh;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  position: relative;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  background: hslaGen($grey-color, 0.1);
}

.flex-row {
  flex: 1;
  width: 100%;
  gap: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
  &.row-gap {
    gap: 1rem;
  }
  &.column-gap {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

// MAIN CONTENT
.main {
  width: 100%;
  display: grid;
  grid-area: main;
  position: relative;
  min-height: calc(100dvh - 6.5rem);
  grid-template-columns: 22rem auto;
  transition: grid-template-columns 0.35s linear;
  grid-template-areas: "sidebar dashboard-content";

  @include breakpoint("992px", max) {
    grid-template-columns: 18rem auto;
  }

  @include breakpoint("768px", max) {
    display: block;
    padding-left: 0;
  }

  /* apply collapsed sidebar grid directly to .main class */
  &.sidebar-collapsed {
    grid-template-columns: 7.5rem auto !important;
  }

  &-content {
    min-width: 0;
    padding: 2rem;
    grid-area: dashboard-content;

    @include breakpoint("992px", max) {
      padding: 1rem 1.5rem;
    }

    @include breakpoint("768px", max) {
      width: 100%;
      padding: 1rem;
    }

    @include breakpoint("576px", max) {
      padding: 0.8rem;
    }
  }
}
