@use "../abstract/index" as *;

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 2rem;
  display: flex;
  grid-area: navbar; /* Matches the grid-template-areas name */
  position: relative;
  align-items: center;
  box-shadow: $box-shadow-alt-2;
  justify-content: space-between;
  background: hslaGen($blue-ink-color, 1);

  &-menu {
    gap: 2rem;
    display: flex;
    position: relative;
    width: max-content;
    align-items: center;
    justify-content: flex-end;

    &__item {
      gap: 0.5rem;
      display: flex;
      list-style: none;
      width: max-content;
      position: relative;
      align-items: center;

      a {
        display: flex;
        font-size: 1.2rem;
        position: relative;
        align-items: center;
        letter-spacing: 0.1rem;
        transition: $transition;
        text-transform: uppercase;
        color: hslaGen($white-color, 1);
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
      }

      &::before {
        content: "";
        width: 100%;
        height: 0.2rem;
        bottom: -0.2rem;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        background: hslaGen($secondary-color, 1);
        transition: transform 0.4s ease-in-out;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      .item-icon {
        font-size: $fs-lg;
        font-weight: $fw-bold;
        transition: $transition;
        color: hslaGen($white-color, 1);
      }

      &:hover .item-icon {
        transition: $transition;
        color: hslaGen($secondary-color, 0.8);
      }

      &.active .item-icon {
        color: hslaGen($secondary-color, 1);
      }

      &.active::before {
        transform: scaleX(1);
        transform-origin: left;
        background-color: hslaGen($secondary-color, 1);
      }
    }

    @include breakpoint("560px", max) {
      top: 0.8rem;
      z-index: 2;
      width: 100%;
      height: 100vh;
      display: unset;
      display: none;
      padding: 1.2rem 2rem;
      position: absolute;
      background-color: hslaGen($off-white-color, 1);

      &__item {
        margin: 2rem 0;
      }
    }
  }

  &-logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: hslaGen($white-color, 1);
  }

  &-search {
    width: 100%;
    display: flex;
    font-size: $fs-md;
    position: relative;
    align-items: center;
    justify-content: center;

    @include breakpoint("720px", max) {
      display: none;
    }

    &__input {
      width: 40%;
      height: 3rem;
      border: transparent;
      padding: 0.8rem 1.2rem;
      transition: $transition;
      background: hslaGen($white-color, 1);
      border-bottom: 1px solid hslaGen($light-grey-color, 1);

      &:focus {
        width: 50%;
        outline: none;
        border-radius: 0;
        border: transparent;
        transition: $transition;
        border-bottom: 0.1rem solid hslaGen($light-grey-color, 1);
      }
    }
  }

  .menuToggle {
    z-index: 5;
    display: flex;
    right: 0.5rem;
    cursor: pointer;
    font-size: $fs-lg;
    position: relative;
    margin-left: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid $black-color;

    @include breakpoint("559px", min) {
      display: none;
    }
  }

  &__dropdown-menu {
    z-index: 50;
    top: 4.4rem;
    display: none;
    padding: 1rem;
    right: -1.3rem;
    list-style: none;
    min-width: 15rem;
    position: absolute;
    transition: $transition;
    background: hslaGen($blue-ink-color, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &.show {
      display: block;
    }

    li {
      text-align: left;
      padding: 0.5rem 1rem;
      transition: $transition;

      &:hover {
        background: hslaGen($blue-ink-color, 0.8);
      }

      a {
        gap: 0.5rem;
        display: flex;
        font-size: $fs-base;
        text-decoration: none;
        transition: $transition;
        color: hslaGen($white-color, 1);

        &:hover {
          transition: $transition;
          color: hslaGen($secondary-color, 1);
        }
      }
    }
  }
}

/* Avatar Styles */
.user-avatar {
  position: relative;
  align-items: center;
  cursor: pointer;
  display: flex;

  > .item-icon {
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      color: hslaGen($secondary-color, 0.8);
    }

    i {
      font-size: $fs-lg;
    }
  }

  .user-avatar__image,
  .avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
    border: 0.2rem solid hslaGen($white-color, 1);
    margin-left: 0.4rem;
  }
}

// DASHBOARD SIDEBAR-NAV
.sidebar {
  top: 0;
  width: 100%;
  height: 100vh; /* Fixed height */
  display: flex;
  overflow-y: auto;
  position: sticky;
  grid-area: sidebar;
  padding: 1rem 1.4rem;
  flex-direction: column;
  transition: width 0.3s ease;
  justify-content: space-between;
  background: hslaGen($blue-ink-color, 1);

  // Sidebar toggle button
  .sidebar-toggle {
    right: 0rem;
    top: 0rem;
    z-index: 100;
    display: flex;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    transition: $transition;
    background: hslaGen($primary-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

    i {
      color: hslaGen($white-color);
      font-size: 2rem;
    }

    &:hover {
      opacity: 1;
      transition: $transition;
      background: hslaGen($primary-color);
    }
  }

  .sidebar-brand {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 2rem 1rem;
    justify-content: space-between;
    background: var(--white-color);

    .logo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: var(--font-size-sm);
        word-break: normal;
      }

      img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }

    .close {
      display: none;
    }
  }

  &.close {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: $transition;
    i {
      font-size: $fs-xlg;
    }
  }

  &.close &__navbar-item a {
    width: fit-content;
    padding: 0;
    font-size: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    transition: $transition;

    // Keep the link accessible for clicking but visually hidden
    &::before {
      display: none;
    }
  }

  &.close &__navbar-item {
    width: 4rem;
    display: flex;
    justify-content: center;
  }

  &__navbar {
    gap: 1.2rem;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;

    &-item {
      height: 4rem;
      display: flex;
      margin-top: 1rem;
      position: relative;
      align-items: center;
      max-width: fit-content;

      a {
        gap: 1rem;
        display: flex;
        height: 100%;
        align-items: center;
        font-size: $fs-base;
        text-decoration: none;
        color: hslaGen($white-color);
        transition: background-color 0.3s ease;

        &::before {
          content: "";
          width: 30%;
          height: 0.2rem;
          bottom: -0.2rem;
          position: absolute;
          transform: scaleX(0);
          transform-origin: right;
          background: hslaGen($secondary-color, 1);
          transition: transform 0.4s ease-in-out;
        }
      }

      &:hover a::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      span {
        min-width: 4rem;
        font-size: $fs-lg;
        transition: $transition;
        color: hslaGen($white-color, 1);
      }

      &:not(.sidebar__dropdown):hover > span,
      &:not(.sidebar__dropdown):hover > div > span,
      &:not(.sidebar__dropdown):hover > a::before {
        transition: $transition;
        color: hslaGen($secondary-color, 0.8);
      }

      &.active span {
        color: hslaGen($secondary-color, 1);
      }

      &.active a::before {
        transform: scaleX(1);
        transform-origin: left;
        background-color: hslaGen($secondary-color, 1);
      }
    }
  }

  &.close .theme__icons,
  &.close .theme__text {
    display: none;
  }

  .theme {
    display: flex;
    align-items: center;

    &__icons {
      width: 4rem;
      height: 4rem;
      display: flex;
      font-size: $fs-xlg;
      position: relative;
      align-items: center;
      justify-content: center;
      color: hslaGen($white-color, 1);

      i {
        position: absolute;
        transition: $transition;

        &.sun {
          display: none;
          transition: $transition;
        }
      }
    }

    .toggle-switch {
      height: 100%;
      display: flex;
      min-width: 6rem;
      align-items: center;
      justify-content: center;

      .toggle-checkbox {
        display: none;
      }

      .switch {
        width: 4.5rem;
        height: 2rem;
        position: relative;
        border-radius: 2.5rem;
        transition: $transition;
        border: 2px solid hslaGen($white-color);
        background-color: hslaGen($grey-color);

        &::before {
          content: "";
          top: 0.1rem;
          left: 0.2rem;
          height: 1.5rem;
          width: 1.5rem;
          position: absolute;
          border-radius: 50%;
          transition: transform 0.3s ease;
          background-color: hslaGen($blue-ink-color);
        }
      }

      /* Toggle State */
      .toggle-checkbox:checked + .switch {
        background-color: hslaGen($white-color);

        &::before {
          transform: translateX(2.5rem);
        }
      }
    }

    // DOESNT WORK, AS HTML STRUCTURE NEEDS TO BE CHANGED
    .toggle-checkbox:checked ~ .theme__icons .moon {
      display: none !important;
    }
    .toggle-checkbox:checked ~ .theme__icons .sun {
      display: block !important;
    }
  }

  &__dropdown {
    width: 100%;
    display: flex;
    position: relative;
    height: max-content;
    flex-direction: column;

    .dropdown-toggle {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .dropdown-icon {
      font-size: 2.4rem;
      transition: transform 0.3s ease;
      margin-left: 0.5rem; // Add space between text and icon
    }

    &-menu {
      display: block;
      width: 100%;
      padding-left: 2rem;
      margin-top: 0;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &.open-dd {
      .sidebar__dropdown-menu {
        max-height: 20rem;
        opacity: 1;
        margin-top: 0.5rem; // Add margin only when expanded
      }

      .dropdown-icon {
        transform: rotate(180deg);
      }
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 0.8rem 0;

      span {
        min-width: 3rem;
        display: flex;
        justify-content: center;
      }

      &:hover {
        a {
          color: hsl(39, 73%, 49%);
        }
      }

      span {
        font-size: $fs-lg;
        font-weight: $fw-bold;
        transition: $transition;
        color: hslaGen($white-color, 1);
      }

      &:hover span {
        transition: $transition;
        color: hslaGen($secondary-color, 0.8);
      }

      &.active span {
        position: relative;
        color: hslaGen($secondary-color, 1);
      }
    }
  }

  &.close .sidebar__dropdown {
    .dropdown-icon {
      top: 0.3rem;
      position: relative;
      margin-left: 2rem; // add more space between text and icon when sidebar is clsed
    }
  }
}
