@use "../../abstract/index" as *;

.auth-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    left: 0;
    right: 0;
    z-index: 1;
    height: 320px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // &::before {
  //   top: 0;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23273036' fill-opacity='1' d='M0,32L40,32C80,32,160,32,240,80C320,128,400,224,480,224C560,224,640,128,720,74.7C800,21,880,11,960,53.3C1040,96,1120,192,1200,208C1280,224,1360,160,1400,128L1440,96L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
  // }

  // &::after {
  //   left: 0;
  //   bottom: 0;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23273036' fill-opacity='1' d='M0,32L40,32C80,32,160,32,240,80C320,128,400,224,480,224C560,224,640,128,720,74.7C800,21,880,11,960,53.3C1040,96,1120,192,1200,208C1280,224,1360,160,1400,128L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  // }

  @media screen and (max-width: 569px) {
    justify-content: flex-start;
  }
}

.auth-page {
  z-index: 20;
  width: 70rem;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  border-radius: 0.8rem;
  height: clamp(50rem, 55rem, 55rem);
  border: 1px solid hslaGen($grey-color);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

  &_right-box,
  &_left-box {
    height: auto;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  &_right-box {
    flex: 1 1 55%;
    background-color: #fff;
  }

  &_left-box {
    flex: 1 1 45%;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-right: 0.1rem solid hslaGen($grey-color);
    background-image: url("/assets/imgs/villa-1.jpeg");

    .copy-text {
      padding: 1rem;
      text-align: center;
      outline-offset: 0.7rem;
      color: hslaGen($white-color);
      background: hslaGen($black-color);
      border: 1px solid hslaGen($white-color);
      outline: 1px solid hslaGen($white-color);

      h1 {
        font-size: $fs-lg;
      }

      p {
        width: 100%;
        font-size: 1.4rem;
        font-weight: $fw-light;
        color: hslaGen($white-color);
      }
    }
  }

  &_content {
    gap: 1rem;
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 0.7rem;
    flex-direction: column;

    &-header {
      padding: 0.8rem 0;
      text-align: center;
      color: hslaGen($primary-color);

      .header-subtitle {
        padding-top: 0.8rem;
        font-size: $fs-sm;
      }
      h2 {
        font-size: $fs-lg;
      }
      a {
        font-weight: bold;
      }
    }

    &-body {
      height: 100%;
      padding: 0 1rem;
    }

    &-footer {
      text-align: center;
      font-size: $fs-sm;
      p {
        font-size: $fs-xsm;
      }
      .termsAgreement {
        margin: 0.8rem 0;
        font-size: $fs-sm;
      }
    }
  }
}

.curve-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -20;
  overflow: hidden;
}
.curve {
  z-index: -20;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  &::after {
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    background-color: #062f4f;
    /* border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%; */
    animation: pulseEffect 10s infinite linear;
    box-shadow: 0 -10px 30px rgba(6, 47, 79, 0.2);
  }
}
.curve-secondary {
  z-index: -21;
  width: 100%;
  height: 100%;
  position: absolute;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin; /* Responsive sizing based on viewport */
    height: 80vmin;
    background-color: rgba(6, 47, 79, 0.7);
    border-radius: 50%;
    z-index: -11;
    animation: pulsezEffect 8s infinite ease-in-out;
  }
}

@keyframes waveEffect {
  0% {
    transform: translateX(-95%);
  }
  20% {
    transform: translateY(40%);
  }

  40% {
    transform: translateX(-40%);
  }

  80% {
    transform: translateY(40%);
  }

  100% {
    transform: translateX(-95%);
  }
}
@keyframes pulseEffect {
  0% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}
